{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="d-block mt-5 rounded-lg bg-light mb-3" style="padding:2%">
        <h2 class='text-center text-secondary'>{% trans 'Materials' %}</h2>
        <div class="row my-md-2 align-items-end">
            <div class="col-md-10">
                <form class="form" method="GET" id="filter_form">
                    <div class="input-group align-items-end">

                        <div class="col-6">
                            {{ filter_form.search.label }}
                            {{ filter_form.search }}
                        </div>

                        <div class="col-1">
                            <button type="submit" class="btn btn-outline-primary"
                                    data-bs-toggle="tooltip"
                                    title="{% trans 'Search' %}"
                                    href="{% url 'materials_list' %}"><i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>

                        <div class="col-1">
                            <a href="{% url 'materials_list' %}" class="btn btn-outline-warning btn-md"
                               data-bs-toggle="tooltip"
                               title="{% trans 'Clear' %}">
                                <i class="fa-solid fa-ban"></i></a>
                        </div>

                        <div class="col-4">
                            {{ filter_form.category.label }}
                            {{ filter_form.category }}
                        </div>

                    </div>
                </form>
            </div>

            {% if perms.master_data.add_material %}
                <div class="col-md-2 text-right">
                    <a href="{% url 'create_material' %}"
                       class="btn btn-success btn-md float-end">{% trans 'Create New' %}</a>
                </div>
            {% endif %}
        </div>
        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th scope="col">{% trans 'ID' %}</th>
                <th scope="col">{% trans 'Category' %}</th>
                <th scope="col">{% trans 'Name' %}</th>
                <th scope="col">{% trans 'Price (VAT incl.)' %}</th>
                <th scope="col">{% trans 'Action' %}</th>
            </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for material in object_list %}
                    <tr>
                        <td>{{ material.id }}</td>
                        <td>{{ material.category }}</td>
                        <td>{{ material.name }}</td>
                        <td>{{ material.price }}</td>
                        <td>
                            {% if perms.master_data.change_material %}
                                <a class="btn btn-outline-primary btn-md" href="{% url 'edit_material' material.id %}"
                                   data-bs-toggle="tooltip"
                                   title="{% trans 'Edit' %}"
                                   role="button"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a class="btn btn-outline-danger btn-md" href="{% url 'delete_material' material.id %}"
                                   data-bs-toggle="tooltip"
                                   title="{% trans 'Delete' %}"
                                   role="button"><i class="fa-solid fa-trash"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        {% include 'partials/paginator.html' %}
    </div>
{% endblock %}