{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="d-block mt-5 rounded-lg bg-light mb-3" style="padding:2%">
        <h2 class='text-center text-secondary'>{% trans 'Materials' %}</h2>
        <div class="row my-md-2">
            <div class="col-md-8">
                <form class="form" method="GET" action="">
                    <div class="input-group my-3">
                        <input type="search" class="form-control rounded mr-3" placeholder="{% trans 'Search' %}" aria-label="Search"
                               aria-describedby="search-addon" name="search_value"/>
                        <button type="submit" class="btn btn-outline-primary"
                                href="{% url 'materials_list' %}">{% trans 'search' %}
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-2 text-left align-self-center">
                <a href="{% url 'materials_list' %}" class="btn btn-outline-warning btn-md">{% trans 'clear' %}</a>
            </div>
            {% if perms.master_data.add_material %}
                <div class="col-md-2 text-right align-self-center">
                    <a href="{% url 'create_material' %}" class="btn btn-success btn-md float-end">{% trans 'Create New' %}</a>
                </div>
            {% endif %}
        </div>
        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th scope="col">{% trans 'ID' %}</th>
                <th scope="col">{% trans 'Category' %}</th>
                <th scope="col">{% trans 'Name' %}</th>
                <th scope="col">{% trans 'Price' %}</th>
                <th scope="col">{% trans 'Action' %}</th>
            </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for material in object_list %}
                    <tr>
                        <td>{{ material.id }}</td>
                        <td>{{ material.category }}</td>
                        <td>{{ material.name }}</td>
                        <td>{{ material.price }}</td>
                        <td>
                            {% if perms.master_data.change_material %}
                                <a class="btn btn-outline-primary btn-sm" href="{% url 'edit_material' material.id %}"
                                   role="button">{% trans 'Edit' %}</a>
                                <a class="btn btn-outline-danger btn-sm" href="{% url 'delete_material' material.id %}"
                                   role="button">{% trans 'Delete' %}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        {% include 'partials/paginator.html' %}
    </div>
{% endblock %}