body {
    background-image: url('/static/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

nav .logo {
    height: 50px;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
}

/*body {*/
/*    background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.5)), url('/static/background.tif');*/
/*    background-attachment: fixed;*/
/*    background-size: cover;*/
/*}*/

@page {
    size: Letter;
    margin: 0in 0.44in 0.2in 0.44in;
}

section.tracking-content-container {
    background-color: white;
    padding: 50px 20px;
    margin-top: 20px;
    border: 2px solid rgb(179, 211, 208);
}

header.tracking-order-header {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.header-logo img {
    display: -webkit-box;
    margin-left: auto;
    justify-content: right;
    align-items: center;
}

.header-qr-code {
    display: -webkit-box;
    margin-left: auto;
    justify-content: left;
    align-items: center;
}

p.scan-qr-text {
    margin-top: 0;
    padding-left: 10px;
    font-size: 8px;
}

h1.track-order-title {
    flex: 1;
    text-align: center;
    padding-bottom: 0;
    font-weight: bold;
    margin-bottom: 0;
    display: block;
}

section.track-order-info {
    padding-left: 20px;
    padding-bottom: 5px;
}

section.track-order-info p {
    padding: 0;
    margin: 0;
}

.track-order-sub-title {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
}

.track-order-sub-title:nth-child(2) {
    padding-bottom: 20px;
}

.amount-due {
    text-align: right;
}

.handover-info {

}

p.handover-left {
    padding-left: 20px;
    margin-bottom: 24px;
}

span.handover-right {
    float: right;
    margin-right: 50%;
}

.contact-info {
    font-style: italic;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    font-size: 12px;
}

/*div.g-recaptcha {*/
/*  margin: 0 auto;*/
/*  width: 304px;*/
/*}*/