@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: url('/static/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;;
}

nav .logo {
    height: 50px;
}

.navbar-menu-action-button {
    font-size: 24px;
    color: #149289;
}

/*  CUSTOMERS   */
.card-items {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 18px;
    margin-top: 18px;
    margin-bottom: 24px;
}

.card-item {
    min-width: 360px;
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 20px 8px;
    border: 1px solid lightgrey;
}

.card-item:hover {
    scale: 1.1;
}

.card-header {
    display: flex;
    width: 100%;
    justify-content: stretch;
    margin-bottom: 16px;
    align-items: center;
    padding: 0 8px;
    border-bottom: 1px solid lightgrey;
}

.card-header .customer-id {
    font-size: 12px;
    flex-basis: 20%;
    color: grey;
}

.card-header .customer-name {
    flex-basis: 60%;
    text-align: center;
}

.card-header .customer-icon {
    font-size: 32px;
    flex-basis: 20%;
    text-align: end;
}

.ind-icon i {
    color: lightcoral;
}

.bus-icon {
    color: cadetblue;
}

.card-info {
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 16px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 16px;
}

.card-info .info-text {
    padding: 0;
    margin: 4px;
    font-weight: 500;
}

.card-info .info-text .info-text-detail {
    color: #0d6efd;
    font-weight: 300;
}

.card-info .info-text .info-text-detail .text-negative {
    color: darkred;
    font-weight: 500;
}

.card-info .info-text .info-text-detail .text-positive {
    font-weight: 500;
    color: green;
}

.card-actions {
    display: flex;
    padding: 0 24px;
    justify-content: space-around;
    align-items: center;
}

/*  SERVICE ORDERS  */

.order-card-items {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.order-card-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 4px;
    min-width: 1244px;
    background-color: white;
    border: 2px solid lightgrey;
    align-items: center;
    padding: 8px 4px;
}

.order-card-item.card-header {

}

.order-card-item.card-main.subscription {
    background: rgb(19, 214, 91);
    background: radial-gradient(circle, rgba(19, 214, 91, 0.3981967787114846) 0%, rgba(255, 255, 255, 0.36738445378151263) 100%);
}

.order-card-item.card-main.regular {
    background: rgb(214, 169, 19);
    background: radial-gradient(circle, rgba(214, 169, 19, 0.3981967787114846) 0%, rgba(255, 255, 255, 0.36738445378151263) 100%);
}

.order-card-item.card-main.sla {
    background: rgb(19, 141, 214);
    background: radial-gradient(circle, rgba(19, 141, 214, 0.3981967787114846) 0%, rgba(255, 255, 255, 0.36738445378151263) 100%);
}

.order-card-item.card-header {
    border-color: black;
}

.order-card-item .card-item-text-content {
    text-align: center;
    flex-basis: 10%;
    margin: 0;
}

.order-card-item.card-header {
    font-weight: 600;
}

.order-card-item .actions-fixed {
    flex-basis: 15%;
}

.order-list-title {
    margin-top: 20px;
    text-align: left;
    font-weight: 500;
    color: #149289;
}

.order-list-title:first-of-type {
    margin-top: 4px;
}

/*  PRINT OUTS  */

@page {
    size: Letter;
    margin: 0in 0.44in 0.2in 0.44in;
}

section.tracking-content-container {
    background-color: white;
    padding: 50px 20px;
    margin-top: 20px;
    border: 2px solid rgb(179, 211, 208);
}

header.tracking-order-header {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.header-logo img {
    display: -webkit-box;
    margin-left: auto;
    justify-content: right;
    align-items: center;
}

.header-qr-code {
    display: -webkit-box;
    margin-left: auto;
    justify-content: left;
    align-items: center;
}

p.scan-qr-text {
    margin-top: 0;
    padding-left: 10px;
    font-size: 8px;
}

h1.track-order-title {
    flex: 1;
    text-align: center;
    padding-bottom: 0;
    font-weight: bold;
    margin-bottom: 0;
    display: block;
}

section.track-order-info {
    padding-left: 20px;
    padding-bottom: 5px;
}

section.track-order-info p {
    padding: 0;
    margin: 0;
}

.track-order-sub-title {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
}

.track-order-sub-title:nth-child(2) {
    padding-bottom: 20px;
}

.amount-due {
    text-align: right;
}

.handover-info {

}

p.handover-left {
    padding-left: 20px;
    margin-bottom: 24px;
}

span.handover-right {
    float: right;
    margin-right: 5%;
}

.contact-info {
    font-style: italic;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    font-size: 12px;
}

/*div.g-recaptcha {*/
/*  margin: 0 auto;*/
/*  width: 304px;*/
/*}*/

.styled-table {
    border-collapse: collapse;
    margin: 4px 0;
    font-size: 1em;
    /*font-family: sans-serif;*/
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: rgb(181, 181, 181);
    color: #000000;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 4px 8px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
