version: '3.4'

services:
  web:
    build: ./service_manager
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./service_manager/:/usr/src/app/
    ports:
      - 8000:8000
    env_file:
      - ./service_manager/envs/.env
    depends_on:
      - postgres
  postgres:    
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: 1123QwER
      POSTGRES_USER: postgres
      POSTGRES_DB: sm_db
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - ./postgresql:/var/lib/postgresql/data
  redis:
    image: redis
    ports:
      - "6379:6379"
  redisinsight:
    image: redislabs/redisinsight
    ports:
      - '8001:8001'
