{% extends 'base.html' %}

{% block content %}
    <div class="d-block mt-5" style="background-color: #f1e3e3; padding:2%">
        <h4 class='text-center'>Customer</h4>
        <h5><u>Customer Name:</u> {{ service_order_header.customer.name }}</h5>
        <h5><u>Customer Department:</u> {{ service_order_header.department.name }}</h5>
    </div>
    <div class="d-block mt-5" style="background-color: #f1e3e3; padding:2%">
        <h4 class='text-center'>Model</h4>
        <h5><u>Category:</u> {{ service_order_header.customer_asset.asset.category }}</h5>
        <h5><u>Brand:</u> {{ service_order_header.customer_asset.asset.brand.name }}</h5>
        <h5><u>Model Name:</u> {{ service_order_header.customer_asset.asset.model_name }}</h5>
        <h5><u>Model Number:</u> {{ service_order_header.customer_asset.asset.model_number }}</h5>
    </div>
    <div class="d-block mt-5" style="background-color: #f1e3e3; padding:2%">
        <h4 class='text-center'>Identification</h4>
        <h5><u>Serial Number:</u> {{ service_order_header.customer_asset.serial_number }}</h5>
        <h5><u>Product:</u> {{ service_order_header.customer_asset.product_number }}</h5>
    </div>

    {#    Action menu bar#}
    {#    todo: restric the below actions to the respective roles#}
    <div class="row">
        {% if not service_order_header.is_serviced %}
            <div class="col-md-12 text-right align-self-center my-3">
                <a class="btn btn-outline-success btn-lg" href="#" data-toggle="modal" data-target="#exampleModal">Complete
                    Service</a>
            </div>
        {% else %}
            <div class="col-md-12 text-right align-self-center my-3">
                <a class="btn btn-outline-warning btn-lg" href="#" data-toggle="modal"
                   data-target="#rollback_modal">Rollback
                    Order</a>
                <a class="btn btn-outline-success btn-lg" href="{% url 'handover_service_order' service_order_header.id %}" >Finalize
                    Order</a>
            </div>
        {% endif %}
    </div>

    {#    Service order notes actions#}
    <div class="row">
        <div class="col-md-3 text-right align-self-center my-3">
            <a href="{% url 'create_service_order_note' service_order_header.pk %}?next={{ request.path|urlencode }}"
               class="btn btn-success">Add
                Note</a>
        </div>
    </div>
    {% include 'service_order_note/service_order_notes.html' %}
    {% block sod_create %}

    {% endblock %}
    {% include 'service_order_detail/service_order_details.html' %}

{% endblock %}