{% block content %}
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Note</th>
            <th scope="col">Created By</th>
            <th scope="col">Created On</th>
            {% if not service_order_header.is_completed %}
                <th scope="col">Action</th>
            {% endif %}

        </tr>
        </thead>
        <tbody>
        {% if service_order_header.serviceordernote_set.all %}
            {% for note in service_order_header.serviceordernote_set.all %}
                <tr>
                    <td>{{ note.id }}</td>
                    <td>{{ note.note }}</td>
                    <td>{{ note.created_by }}</td>
                    <td>{{ note.created_on }}</td>
                    {# Allow only the creator of the given note to edit\delete it #}
                    {% if not service_order_header.is_completed %}
                        <td>
                            {% if request.user == note.created_by %}
                                <a class="btn btn-outline-info btn-sm"
                                   href="{% url 'edit_service_order_note' note.service_order.id note.pk %}?next={{ request.path|urlencode }}"
                                   role="button">View</a>
                                <a class="btn btn-outline-primary btn-sm"
                                   href="{% url 'edit_service_order_note' note.service_order.id note.pk %}?next={{ request.path|urlencode }}"
                                   role="button">Edit</a>
                                <a class="btn btn-outline-danger btn-sm"
                                   href="{% url 'delete_service_order_note' note.service_order.id note.pk %}?next={{ request.path|urlencode }}"
                                   role="button">Delete</a>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}
