{% extends 'base.html' %}
{% block content %}
    <div class="row my-md-2">
        <div class="col-md-12 text-right">
            <a href="{% url 'create_asset' %}" class="btn btn-success">Create</a>
        </div>
    </div>
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Model Name</th>
            <th scope="col">Model Number</th>
            <th scope="col">Brand</th>
            <th scope="col">Category</th>
        </tr>
        </thead>
        <tbody>
        {% if object_list %}
            {% for asset in object_list %}
                <tr>
                    <td>{{ asset.id }}</td>
                    <td>{{ asset.model_name }}</td>
                    <td>{{ asset.model_number }}</td>
                    <td>{{ asset.brand }}</td>
                    <td>{{ asset.category }}</td>
                    <td>
                        <a class="btn btn-outline-primary btn-sm" href="{% url 'edit_asset' asset.id %}"
                           role="button">Edit</a>
                        <a class="btn btn-outline-danger btn-sm" href="{% url 'delete_asset' asset.id %}" role="button">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}