{% extends 'base.html' %}
{% load static %}
{% block content %}

    {#    <div class="jumbotron">#}
    <h1>Hello user: {{ request.user }}</h1>
    <div class="jumbotron mt-5">
        <div class="absolute">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to
                featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'register_user' %}" role="button">Register</a>
                <a class="btn btn-primary btn-lg" href="{% url 'login_user' %}" role="button">LogIn</a>
                <a class="btn btn-primary btn-lg" href="{% url 'logout_user' %}" role="button">Logout</a>
            </p>
        </div>
    </div>

{% endblock %}