select {
    width: 100%;
    background-color: white;
    /*line-height: 1.5;*/
    /*font-size: 17px;*/
    padding: .200rem .5rem;
    border-radius: .25rem;
    font-weight: 200;
    letter-spacing: 0.01em;
    border: 1px solid var(--primary-color);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}