{% block content %}
    <div class="row">
        <div class="col-md-9 my-3">
            <form class="form" method="GET" action="">
                <div class="input-group my-3">
                    <input type="search" class="form-control rounded  mr-3" placeholder="Search Departments"
                           aria-label="Search"
                           aria-describedby="search-addon" name="departments"/>
                    <input type="hidden" id="show_deps" name="show_departments" value="t">
                    <button type="submit" class="btn btn-outline-primary"
                            href="#">
                        search
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-3 text-right align-self-center my-3">
            <a href="{% url 'create_customer_department' object.pk %}"
               class="btn btn-success">Add
                Department</a>
        </div>
    </div>
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% if customer_departments %}
            {% for department in customer_departments %}
                <tr>
                    <td>{{ department.id }}</td>
                    <td>{{ department.name }}</td>
                    <td>
                        <a class="btn btn-outline-primary btn-sm"
                           href="{% url 'edit_customer_department' department.customer.pk department.pk %}"
                           role="button">Edit</a>
                        <a class="btn btn-outline-danger btn-sm"
                           href="{% url 'delete_customer_department' department.customer.pk department.pk %}"
                           role="button">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="100%">
                    <p>
                        No records matching your search
                    </p>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}