{% load permissions %}
{% load active_tabs %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Manager</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>

{% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="True">&times;</span>
            </button>
            {{ message }}
        </div>
    </div>
{% endfor %}

<!-- Nav Bar -->
<nav class="navbar navbar-expand-md navbar-light sticky-top bg-light ">
    <a class="navbar-brand" href="{% url 'index' %}"><img src="/static/logo.png" class="logo" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% with request.resolver_match.url_name as url_name %}
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                {% if request.user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'admin:index' %}">{% trans 'Admin Panel' %}<span
                                class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'index' %}active{% endif %}"
                       href="{% url 'index' %}">{% trans 'Home' %}<span class="sr-only">(current)</span></a>
                </li>
                {% if request.user.is_authenticated %}
                    {% if perms.customers.view_customer %}
                        <li class="nav-item">
                            <a class="nav-link {% if url_name|is_active_nav_link:'customers' %}active{% endif %}"
                               href="{% url 'customers_list' %}">{% trans 'Customers' %}</a>
                        </li>
                    {% endif %}

                    {% if perms.main.view_serviceorderheader %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if url_name|is_active_nav_link:'main' %}active{% endif %}"
                               role="button" href="#" id="navbarDropdownMenuLink"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                {% trans 'Orders' %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkOrders">
                                <a class="dropdown-item"
                                   href="{% url 'service_orders_list_pending_service' %}">{% trans 'Pending Service' %}</a>
                                <a class="dropdown-item"
                                   href="{% url 'service_orders_list_serviced' %}">{% trans 'Service Completed' %}</a>
                            </div>
                        </li>
                    {% endif %}

                    {% if request.user|user_has_master_data_permissions %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if url_name|is_active_nav_link:'master_data' %}active{% endif %}"
                               href="#" id="navbarDropdownMenuLink"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                {% trans 'Manage' %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkMasterData">
                                {% if perms.master_data.view_asset %}
                                    <a class="dropdown-item" href="{% url 'assets_list' %}">{% trans 'Assets' %}</a>
                                {% endif %}
                                {% if perms.master_data.view_assetcategory %}
                                    <a class="dropdown-item"
                                       href="{% url 'asset_categories_list' %}">{% trans 'Asset Categories' %}</a>
                                {% endif %}
                                {% if perms.master_data.view_brand %}
                                    <a class="dropdown-item" href="{% url 'brands_list' %}">{% trans 'Brands' %}</a>
                                {% endif %}
                                {% if perms.master_data.view_material %}
                                    <a class="dropdown-item"
                                       href="{% url 'materials_list' %}">{% trans 'Material' %}</a>
                                {% endif %}
                                {% if perms.master_data.view_materialcategory %}
                                    <a class="dropdown-item"
                                       href="{% url 'material_categories_list' %}">{% trans 'Material Categories' %}</a>
                                {% endif %}
                                {% if perms.master_data.view_sla %}
                                    <a class="dropdown-item"
                                       href="{% url 'slas_list' %}">{% trans 'Service Level Agreements' %}</a>
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}

                    {% if perms.main.view_serviceorderheader %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if url_name|is_active_nav_link:'reports' %}active{% endif %}"
                               href="#" id="navbarDropdownMenuLink"
                               data-bs-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                {% trans 'Reports' %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkReports">
                                <a class="dropdown-item"
                                   href="{% url 'finished_orders' %}">{% trans 'Finished Orders' %}</a>
                            </div>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'contact_us' %}active{% endif %}"
                       href="{% url 'contact_us' %}">{% trans 'Contact Us' %}<span class="sr-only">(current)</span></a>
                </li>
            </ul>

            {#        Language selection#}
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {% trans 'Language' %}
                </a>
                <div class="dropdown-menu">
                    {% for language in languages %}
                        <a href="/{{ language.code }}/{{ request.get_full_path|slice:"4:" }}"
                                {% if language.code == LANGUAGE_CODE %} class="dropdown-item active" {% else %}
                           class="dropdown-item"{% endif %}>
                            {{ language.name_local }}
                        </a>
                    {% endfor %}
                </div>
            </div>

            {#    Authentication#}
            <div class="d-flex">
                {% if request.user.is_anonymous %}
                    <a class="btn btn-light ms-3" href="{% url 'login_user' %}">{% trans 'Login' %}</a>
                {% else %}
                    <a class="btn btn-light ms-3"
                       href="{% url 'edit_profile'  request.user.profile.pk %}">{% trans 'Profile' %}</a>
                    <a class="btn btn-light ms-3" href="{% url 'logout_user' %}">{% trans 'Logout' %}</a>
                {% endif %}
            </div>


        </div>
    {% endwith %}

</nav>
<!-- End Nav Bar -->

<!-- Content Container -->
<div class="container">
    {% block content %}

    {% endblock %}
</div>
<!-- End Content Container -->

<!-- Page Footer -->
<footer class="fixed-bottom card-footer ">
    <div>@2022 Service Manager Web Application</div>
</footer>
<!-- End Page Footer -->
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

</html>