{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1 class="text-center">{% trans 'Create new note' %}</h1>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form method="post" action="{% url 'create_service_order_note' service_order.id %}">
                {% csrf_token %}
                {{ form }}
                <a class="btn btn-secondary mt-1 float-start" href="javascript:history.back()">Back</a>
                <button type="submit" class="btn btn-primary mt-1 float-end">Save</button>
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}
