{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="d-block mt-5 rounded-lg bg-light my-3" style="padding:2%">
        {#    Header#}
        <div class="container-fluid p-0 m-0">
            <div class="text-center">
                <h4 class="d-inline text-secondary">{% trans 'Note Detail' %}</h4>
                <a class="d-inline float-end btn btn-secondary" href="javascript:history.back()">{% trans 'Go Back' %}</a>
            </div>
        </div>
        {#Attributes#}
        <div class="row text-left">
            <div class="col-sm-6">
                <p class="text-primary"><b class="text-dark">{% trans 'Created By' %}: </b>{{ object.created_by }}</p>
            </div>
            <div class="col-sm-6">
                <p class="text-primary"><b class="text-dark">{% trans 'Created On' %}: </b>{{ object.created_on }}</p>
            </div>
        </div>
        {#        Notes#}
        <p class="text-primary"><b class="text-dark">{% trans 'Note' %}:</b></p>
        <div class="text-left"><i>{{ object.note }}</i></div>
    </div>
{% endblock %}