{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1 class="text-center">{% trans 'Reset password' %}</h1>
    <div class="row">
        <div class="text-center">
            <p>{% trans 'Enter your new password' %}</p>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">{% trans 'Confrim' %}</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
{% endblock %}