{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="d-block mt-5 rounded-lg bg-light mb-3" style="padding:2%">
        <h2 class='text-center text-secondary'>{% trans 'Assets' %}</h2>
        <div class="row my-md-2">
            <div class="col-md-8">
                <form class="form" method="GET" action="">
                    <div class="input-group my-3">
                        <input type="search" class="form-control rounded mr-3" placeholder="{% trans 'Search' %}"
                               aria-label="Search"
                               aria-describedby="search-addon" name="search_value"/>
                        <button type="submit" class="btn btn-outline-primary"
                                data-bs-toggle="tooltip"
                                title="{% trans 'Search' %}"
                                href="{% url 'assets_list' %}"><i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-2 text-left align-self-center">
                <a href="{% url 'assets_list' %}" class="btn btn-outline-warning btn-md"
                   data-bs-toggle="tooltip"
                   title="{% trans 'Clear' %}"><i class="fa-solid fa-ban"></i></a>
            </div>
            {% if perms.master_data.add_asset %}
                <div class="col-md-2 text-right align-self-center">
                    <a href="{% url 'create_asset' %}"
                       class="btn btn-success btn-md  float-end">{% trans 'Create New' %}</a>
                </div>
            {% endif %}
        </div>
        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th scope="col">{% trans 'ID' %}</th>
                <th scope="col">{% trans 'Category' %}</th>
                <th scope="col">{% trans 'Brand' %}</th>
                <th scope="col">{% trans 'Model Name' %}</th>
                <th scope="col">{% trans 'Model Number' %}</th>
                <th scope="col">{% trans 'Action' %}</th>
            </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for asset in object_list %}
                    <tr>
                        <td>{{ asset.id }}</td>
                        <td>{{ asset.category }}</td>
                        <td>{{ asset.brand }}</td>
                        <td>{{ asset.model_name }}</td>
                        <td>{{ asset.model_number }}</td>
                        <td>
                            {% if perms.master_data.change_asset %}
                                <a class="btn btn-outline-primary btn-md" href="{% url 'edit_asset' asset.id %}"
                                   data-bs-toggle="tooltip"
                                   title="{% trans 'Edit' %}"
                                   role="button"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a class="btn btn-outline-danger btn-md" href="{% url 'delete_asset' asset.id %}"
                                   data-bs-toggle="tooltip"
                                   title="{% trans 'Delete' %}"
                                   role="button"><i class="fa-solid fa-trash"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        {% include 'partials/paginator.html' %}
    </div>
{% endblock %}