{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="d-block mt-5 rounded-lg bg-light my-3" style="padding:2%">
        <h2 class='text-center text-secondary mb-3'>{% trans 'Completed Service Orders' %}</h2>
        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th scope="col">{% trans 'ID' %}</th>
                <th scope="col">{% trans 'Name' %}</th>
                <th scope="col">{% trans 'Category' %}</th>
                <th scope="col">{% trans 'Brand' %}</th>
                <th scope="col">{% trans 'Model Name' %}</th>
                <th scope="col">{% trans 'Model Number' %}</th>
                <th scope="col">{% trans 'Serial Number' %}</th>
                <th scope="col">{% trans 'Product Number' %}</th>
                <th scope="col">{% trans 'SLA' %}</th>
                <th scope="col">{% trans 'Accepted On' %}</th>
                <th scope="col">{% trans 'Serviced On' %}</th>
                <th scope="col">{% trans 'Action' %}</th>

            </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for service_order in object_list %}
                    <tr>
                        <td>{{ service_order.id }}</td>
                        <td>{{ service_order.customer.name }}</td>
                        <td>{{ service_order.customer_asset.asset.category.name }}</td>
                        <td>{{ service_order.customer_asset.asset.brand.name }}</td>
                        <td>{{ service_order.customer_asset.asset.model_name }}</td>
                        <td>{{ service_order.customer_asset.asset.model_number }}</td>
                        <td>{{ service_order.customer_asset.serial_number }}</td>
                        <td>{{ service_order.customer_asset.product_number }}</td>
                        <td>{{ service_order.service_level_agreement.name }}</td>
                        <td>{{ service_order.created_on }}</td>
                        <td>{{ service_order.serviced_on }}</td>
                        <td>
                            {% if perms.main.change_serviceorderheader %}
                                <a class="btn btn-outline-info btn-md"
                                   href="{% url 'detail_service_order' service_order.id %}"
                                   data-bs-toggle="tooltip"
                                   title="{% trans 'Detail' %}"
                                   role="button"><i class="fa-solid fa-circle-info"></i></a>
                                {% if perms.main.change_serviceorderheader %}
                                    <a class="btn btn-outline-danger btn-md"
                                       href="{% url 'delete_service_order' service_order.id %}"
                                       data-bs-toggle="tooltip"
                                       title="{% trans 'Delete' %}"
                                       role="button"><i class="fa-solid fa-trash"></i></a>
                                {% endif %}
                            {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}