{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="d-block mt-1 rounded-lg bg-light my-1" style="padding:0 2%">
        <h2 class='text-center text-secondary mb-1'>{{ page_title }}</h2>
        <section class="order-card-items">
            {% if service_orders %}
                {% for service_order in service_orders %}
                    <div class="service-request-card">
                    <header class="sr-card-title">

                        <section class="sr-card-header">
                            <section class="sr-card-status">
                                 <p class="info-text">{% trans 'Status' %}: <span
                                            class="info-text-detail">{{ service_order.status }}</span></p>
                            </section>

                            <section class="sr-card-info">
                                <p class="info-text">{% trans 'Customer' %}: <a href={% url 'customer_detail' service_order.customer.id %}><span
                                        class="info-text-detail">{{ service_order.customer.name }}</span></a></p>
                            </section>

                            <section class="sr-card-actions">
                                <div class="sr-actions">
                                    <p class="card-item-text-content actions-fixed">
                                        {% if perms.main.add_serviceorderdetail and  service_order.is_serviced == False%}
                                        <a class="btn btn-outline-success btn-md"
                                           href="{% url 'create_service_order_detail' service_order.pk %}"
                                           data-bs-toggle="tooltip"
                                           title="{% trans 'Service' %}"
                                           role="button"><i class="fa-solid fa-screwdriver-wrench"></i></a>
                                        {% endif %}
                                        {% if perms.main.add_serviceorderdetail and  service_order.is_serviced%}
                                        <a class="btn btn-outline-success btn-md"
                                           href="{% url 'handover_service_order' service_order.pk %}"
                                           data-bs-toggle="tooltip"
                                           title="{% trans 'Finalize Order' %}"
                                           role="button"><i class="fa-solid fa-check"></i></a>
                                        {% endif %}
                                        <a class="btn btn-outline-info btn-md"
                                           href="{% url 'detail_service_order' service_order.id %}"
                                           data-bs-toggle="tooltip"
                                           title="{% trans 'Detail' %}"
                                           role="button"><i class="fa-solid fa-circle-info"></i></a>
                                        {% if perms.main.change_serviceorderheader %}
                                            <a class="btn btn-outline-danger btn-md"
                                               href="{% url 'delete_service_order' service_order.id %}"
                                               data-bs-toggle="tooltip"
                                               title="{% trans 'Delete' %}"
                                               role="button"><i class="fa-solid fa-trash"></i></a>
                                        {% endif %}
                                    </p>
                                </div>
                            </section>
                        </section>
                        <section class="sr-requestor-info">
                             <p class="info-text">
                                 {% trans 'SLA' %}:
                                 {% if service_order.service_level_agreement %}
                                 <span class="info-text-detail text-positive">{{ service_order.service_level_agreement.name }}</span>
                                 {% endif %}
                             </p>
                             <p class="info-text">
                                 {% trans 'Subscription' %}: <span class="info-text-detail">
                                 {%  if service_order.customer.has_subscription %}
                                     <span class="text-positive">{% trans 'Yes' %}</span>
                                 {% else %}
                                     <span class="text-negative">{% trans 'No' %}</span>
                                 {% endif %}</span>
                             </p>
                             <p class="info-text">
                                 {% trans 'Regular' %}: <span class="info-text-detail">
                                 {%  if service_order.customer.is_regular_customer %}
                                     <span class="text-positive">{% trans 'Yes' %}</span>
                                 {% else %}
                                     <span class="text-negative">{% trans 'No' %}</span>
                                 {% endif %}</span>
                             </p>
                        </section>
                        <section class="sr-requestor-info">
                            <p class="info-text">{% trans 'Category' %}: <span
                                    class="info-text-detail">{{ service_order.customer_asset.asset.category.name }}</span></p>
                            <p class="info-text">{% trans 'Brand' %}: <span
                                    class="info-text-detail">{{ service_order.customer_asset.asset.brand.name }}</span></p>
                            <p class="info-text">{% trans 'Model name' %}: <span
                                    class="info-text-detail">{{ service_order.customer_asset.asset.model_name }}</span></p>

                        </section>
                        <section class="sr-requestor-info">
                            <p class="info-text">{% trans 'Model number' %}: <span
                                    class="info-text-detail">{{ service_order.customer_asset.asset.model_number }}</span></p>
                            <p class="info-text">{% trans 'Serial number' %}: <span
                                    class="info-text-detail">{{ service_order.customer_asset.serial_number }}</span></p>
                            <p class="info-text">{% trans 'Product number' %}: <span
                                    class="info-text-detail">{{ service_order.customer_asset.product_number }}</span></p>
                        </section>
                    {% if service_order.is_serviced %}
                    <section class="sr-card-status">
                        <p class="info-text">{% trans 'Total amount' %}: <span
                                    class="info-text-detail">{{ service_order.total_amount_due }} {% trans 'lv. (VAT incl.)' %}</span></p>
                    </section>
                    {% endif %}
                    </header>

                    <section class="sr-body">
                        <p class="info-text">
                            <span class="bold">
                                {% trans 'Problem description' %}:
                            </span>
                            <span class="info-text-detail">
                                    {{ service_order.problem_description|truncatechars:256 }}
                                </span>
                        </p>
                    </section>


                    <section class="sr-timestamps">
                        <div class="vertical-flex">
                            <p class="info-text">{% trans 'Accepted on' %}:<span
                                    class="info-text-detail"> {{ service_order.created_on }}</span></p>
                            <p class="info-text">{% trans 'Accepted by' %}:<span
                                    class="info-text-detail"> {{ service_order.accepted_by.profile_full_name }}</span>
                            </p>
                        </div>
                        <div class="vertical-flex">
                            <p class="info-text">{% trans 'Serviced on' %}: <span
                                    class="info-text-detail">{{ service_order.serviced_on|default_if_none:'' }}</span>
                            </p>
                            <p class="info-text">{% trans 'Serviced by' %}: <span
                                    class="info-text-detail">{{ service_order.serviced_by.profile_full_name }}</span>
                            </p>
                        </div>
                        <div class="vertical-flex">
                            <p class="info-text">{% trans 'Completed on' %}: <span
                                    class="info-text-detail">{{ service_order.completed_on|default_if_none:'' }}</span>
                            </p>
                            <p class="info-text">{% trans 'Completed by' %}: <span
                                    class="info-text-detail">{{ service_order.completed_by.profile_full_name }}</span>
                            </p>
                        </div>
                    </section>

                </div>
                {% endfor %}
            {% endif %}

        </section>
    {% include 'partials/paginator.html' %}
    </div>
{% endblock %}