{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="d-block mt-2 rounded-lg bg-light mb-2" style="padding:2%">
        <div class="text-center mb-2">
            <h2 class='text-secondary d-inline'>{% trans 'Customer Information' %}</h2>
            {% if perms.customers.change_customer %}
                <a class="btn btn-outline-primary btn-md float-end" href="{% url 'edit_customer' object.id %}"
                   role="button">{% trans 'Edit' %}</a>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-primary mb-0"><b class="text-dark">{% trans 'Name' %}: </b>{{ object.name }}</p>
                <p class="text-primary mb-0"><b class="text-dark">{% trans 'Type' %}: </b>{{ object.type.name }}</p>
                <p class="text-primary mb-0"><b class="text-dark">{% trans 'VAT' %}: </b>{{ object.vat }}</p>
            </div>
            <div class="col-sm-4">
                <p class="text-primary mb-0"><b class="text-dark">{% trans 'Email' %}: </b>{{ object.email_address }}
                </p>
                <p class="text-primary mb-0"><b class="text-dark">{% trans 'Phone' %}: </b>{{ object.phone_number }}</p>
            </div>
            <div class="col-sm-4">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Has Subscription' %}: </b>{% if object.has_subscription %}
                    {% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}
                </p>
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Is Regular' %}: </b>{% if object.is_regular_customer %}
                    {% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}</p>
            </div>
        </div>
    </div>

    <div class="d-block mt-3 rounded-lg bg-light mb-3" style="padding:2%">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link {% if not request.GET or 'show_assets' in request.GET %} active {% endif %}"
               href="{% url 'customer_detail' object.pk %}" role="tab"
               aria-selected="true">{% trans 'Assets' %}</a>
            {% if object.type.name == 'Business' %}
                <a class="nav-item nav-link {% if 'show_representatives' in request.GET %} active {% endif %}"
                   href="{% url 'customer_detail' object.pk %}?show_representatives" role="tab"
                   aria-selected="false">{% trans 'Representatives' %}</a>
                <a class="nav-item nav-link {% if 'show_departments' in request.GET %} active {% endif %}"
                   href="{% url 'customer_detail' object.pk %}?show_departments" role="tab"
                   aria-selected="false">{% trans 'Departments' %}</a>
            {% endif %}
        </div>

        {% if not request.GET or 'show_assets' in request.GET %}
            {% include 'customer_asset/customer_assets.html' %}
        {% elif 'show_representatives' in request.GET %}
            {% include 'customer_representatives/customer_representatives.html' %}
        {% elif 'show_departments' in request.GET %}
            {% include 'customer_department/customer_departments.html' %}
        {% endif %}
    </div>
{% endblock %}