{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="d-block mt-5 rounded-lg bg-light mb-3" style="padding:2%">
        <h2 class='text-center text-secondary'>{% trans 'Customers' %}</h2>
        <div class="row">
            <div class="col-md-8">
                <form class="form" method="GET" action="">
                    <div class="input-group my-3">
                        <input type="search" class="form-control rounded mr-3" placeholder="{% trans 'Search' %}" aria-label="Search"
                               aria-describedby="search-addon" name="search_value"/>
                        <button type="submit" class="btn btn-outline-primary"
                                href="{% url 'customers_list' %}">{% trans 'search' %}
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-2 text-left align-self-center">
                <a href="{% url 'customers_list' %}" class="btn btn-outline-warning btn-md">{% trans 'clear' %}</a>
            </div>
            {% if perms.customers.add_customer %}
                <div class="col-md-2 text-right align-self-center">
                    <a href="{% url 'create_customer' %}" class="btn btn-success btn-md float-end">{% trans 'Create New' %}</a>
                </div>
            {% endif %}
        </div>
        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th scope="col">{% trans 'ID' %}</th>
                <th scope="col">{% trans 'Name' %}</th>
                <th scope="col">{% trans 'Type' %}</th>
                <th scope="col">{% trans 'VAT' %}</th>
                <th scope="col">{% trans 'E-mail' %}</th>
                <th scope="col">{% trans 'Phone Number' %}</th>
                <th scope="col">{% trans 'Action' %}</th>
            </tr>
            </thead>
            <tbody>


            {% if object_list %}
                {% for customer in object_list %}
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.type }}</td>
                        <td>{{ customer.vat }}</td>
                        <td>{{ customer.email_address }}</td>
                        <td>{{ customer.phone_number }}</td>
                        <td>
                            {% if perms.customers.change_customer %}
                                <a class="btn btn-outline-primary btn-sm"
                                   href="{% url 'customer_detail' customer.id %}"
                                   role="button">{% trans 'Manage' %}</a>
                                <a class="btn btn-outline-danger btn-sm" href="{% url 'delete_customer' customer.id %}"
                                   role="button">{% trans 'Delete' %}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        {% include 'partials/paginator.html' %}
    </div>

{% endblock %}