{% extends 'base.html' %}
{% block content %}
    <div class="row my-md-2">
        <div class="col-md-12 text-right">
            <a href="{% url 'create_customer_asset' object.pk %}" class="btn btn-success">Create New Asset</a>
        </div>
    </div>
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Asset</th>
            <th scope="col">Serial Number</th>
            <th scope="col">Product Number</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% if object_list %}
            {% for customer_asset in object_list %}
                <tr>
                    <td>{{ customer_asset.id }}</td>
                    <td>{{ customer_asset.asset }}</td>
                    <td>{{ customer_asset.serial_number }}</td>
                    <td>{{ customer_asset.product_number }}</td>
                    <td>
                        <a class="btn btn-outline-primary btn-sm" href="{% url 'edit_customer_asset' customer_asset.customer.id customer_asset.pk %}"
                           role="button">Edit</a>
                        <a class="btn btn-outline-danger btn-sm" href="{% url 'delete_customer_asset' customer_asset.customer.id customer_asset.pk%}" role="button">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}