{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-md-12 my-1">
            <h2>{% blocktrans %}Total Amount Due (VAT incl.){% endblocktrans %}
                : {{ service_request.total_amount_due }} {% trans 'lv.' %}</h2>
        </div>
    </div>
    <section class="material-card-items">
        <header class="material-table-header">
            <p class="material-name info-text">{% trans 'Material' %}</p>
            <p class="material-pricing info-text">{% trans 'Quantity' %}</p>
            <p class="material-pricing info-text">{% trans 'Discount' %}</p>
            <p class="material-pricing info-text">{% trans 'Price' %}</p>
            <p class="material-pricing info-text">{% trans 'Disc. price' %}</p>
            <p class="material-pricing info-text">{% trans 'Sum (no VAT)' %}</p>
            <p class="material-pricing info-text">{% trans 'Sum (VAT)' %}</p>
        </header>
        {% if service_request.deliveryrequest_set %}
            {% for delivery_request in service_request.deliveryrequest_set.all %}
                <div class="material-card-item">
                    <header class="material-item-header">
                        <p class="actions">
                            {% if perms.main.change_serviceorderdetail %}
                                <a class="btn btn-outline-primary btn-sm"
                                   href="{% url 'edit_delivery_request' service_request.pk delivery_request.id %}"
                                   data-bs-toggle="tooltip"
                                   title="{% trans 'Edit' %}"
                                   role="button"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a class="btn btn-outline-danger btn-sm"
                                   href="{% url 'delete_delivery_request' service_request.id delivery_request.id %}"
                                   data-bs-toggle="tooltip"
                                   title="{% trans 'Delete' %}"
                                   role="button"><i class="fa-solid fa-trash"></i></a>
                            {% endif %}
                        </p>
                    </header>
                    <main class="material-item-main">
                        <p class="material-name"><span class="info-text material-title">{% trans 'Material' %}:</span> <span
                                class="info-text-detail">{{ delivery_request.material.name }} ({{ delivery_request.material.category }})</span>
                        </p>
                        <p class="material-pricing"><span class="info-text material-title">{% trans 'Quantity' %}:</span> <span class="info-text-detail">{{ delivery_request.quantity|floatformat:"1" }}</span></p>
                        <p class="material-pricing"><span class="info-text material-title">{% trans 'Discount' %}:</span> <span class="info-text-detail">{{ delivery_request.discount|floatformat:"1" }}%</span></p>
                        <p class="material-pricing"><span class="info-text material-title">{% trans 'Price' %}:</span> <span class="info-text-detail">{{ delivery_request.material.price|floatformat:"2" }} {% trans 'lv.' %}</span></p>
                        <p class="material-pricing"><span class="info-text material-title">{% trans 'Disc. price' %}:</span> <span class="info-text-detail">{{ delivery_request.discounted_price|floatformat:"2" }} {% trans 'lv.' %}</span></p>
                        <p class="material-pricing"><span class="info-text material-title">{% trans 'Sum (no VAT)' %}:</span> <span class="info-text-detail">{{ delivery_request.total_amount_no_vat|floatformat:"2" }} {% trans 'lv.' %}</span></p>
                        <p class="material-pricing"><span class="info-text material-title">{% trans 'Sum (VAT)' %}:</span> <span class="info-text-detail">{{ delivery_request.total_amount|floatformat:"2" }} {% trans 'lv.' %}</span></p>
                    </main>
                </div>
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}