{% block content %}
    <div class="row">
        <div class="col-md-9 my-3">
            <h2> Total Amount Due: {{ service_order_header.total_amount_due }}</h2>
        </div>
    </div>
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Material Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Discount</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Total Amount</th>
            {% if not service_order_header.is_serviced %}
                <th scope="col">Action</th>
            {% endif %}

        </tr>
        </thead>
        <tbody>
        {% if service_order_header.serviceorderdetail_set %}
            {% for service_order_detail in service_order_header.serviceorderdetail_set.all %}
                <tr>
                    <td>{{ service_order_detail.id }}</td>
                    <td>{{ service_order_detail.material.name }}</td>
                    <td>{{ service_order_detail.material.category }}</td>
                    <td>{{ service_order_detail.material.price|floatformat:"2" }}</td>
                    <td>{{ service_order_detail.quantity|floatformat:"1" }}</td>
                    <td>{{ service_order_detail.discount|floatformat:"1" }}%</td>
                    <td>{{ service_order_detail.discounted_price|floatformat:"2" }}</td>
                    <td>{{ service_order_detail.total_amount|floatformat:"2" }}</td>
                    {% if not service_order_header.is_serviced %}
                        <td>

                            <a class="btn btn-outline-primary btn-sm"
                               href="{% url 'edit_service_order_detail' service_order_header.pk service_order_detail.id %}"
                               role="button">Edit</a>
                            <a class="btn btn-outline-danger btn-sm"
                               href="{% url 'delete_service_order_detail' service_order_header.id service_order_detail.id %}"
                               role="button">Delete</a>

                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {#    Finish service#}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Complete Service Order with
                        ID: {{ service_order_header.pk }}</h5>
                </div>
                <div class="modal-body">
                    <p class="my-0">Customer: {{ service_order_header.customer.name }}</p>
                    <p class="my-0"> Asset Serial Number: {{ service_order_header.customer_asset.serial_number }}</p>
                    <p class="my-0"> Asset Product Number: {{ service_order_header.customer_asset.product_number }}</p>
                    <p class="my-2"><b>Total Amount Due: {{ service_order_header.total_amount_due }}</b></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    <a class="btn btn-sm btn-success" href="{% url 'complete_service_order' service_order_header.pk %}">Confirm</a>
                </div>
            </div>
        </div>
    </div>
{#    Rollback#}
    <div class="modal fade" id="rollback_modal" tabindex="-1" role="dialog" aria-labelledby="rollback_modal_label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Rollback Service Order with
                        ID: {{ service_order_header.pk }}?</h5>
                </div>
                <div class="modal-body">
                    <p class="my-0">Please, confirm</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    <a class="btn btn-sm btn-success" href="{% url 'rollback_service_order' service_order_header.pk %}">Rollback</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}