{% extends 'base.html' %}
{% load common_tags %}
{% load i18n %}
{% block content %}
    <div class="d-block mt-2 rounded-lg bg-light mb-2" style="padding:0.5%">
        <div class="text-center mb-4">
            <h4 class='d-inline text-secondary mb-3'>{% trans 'Customer Information' %}</h4>
            <a class="btn btn-secondary my-1 float-end" data-bs-toggle="tooltip"
               title="{% trans 'Print' %}" target="_blank"
               href="{% url 'customer_printout' service_order_header.id %}"><i class="fa fa-print"
                                                                               aria-hidden="true"></i></a>
        </div>

        <div class="row text-left">
            <div class="col">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Name' %}: </b>{{ service_order_header.customer.name }}</p>
            </div>
            <div class="col">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Type' %}: </b>{{ service_order_header.customer.type }}</p>
            </div>
            <div class="col">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'VAT' %}: </b>{{ service_order_header.customer.vat }}</p>
            </div>
        </div>
        <div class="row text-left">
            <div class="col">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Email' %}: </b>{{ service_order_header.customer.email_address }}</p>
            </div>
            <div class="col">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Phone' %}: </b>{{ service_order_header.customer.phone_number }}
                </p>
            </div>
            <div class="col">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Department' %}: </b>{{ service_order_header.department|default_if_none:"" }}
                </p>
            </div>
        </div>
        <div class="row text-left">
            <div class="col">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Has Subscription' %}: </b>
                    {% if service_order_header.customer.has_subscription %}
                        {% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}
                </p>
            </div>
            <div class="col">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Is Regular' %}: </b>
                    {% if service_order_header.customer.is_regular_customer %}
                        {% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}
                </p>
            </div>
            <div class="col">

            </div>
        </div>
        <h4 class='text-center text-secondary mt-1'>{% trans 'Asset Information' %}</h4>
        <div class="row text-left">
            <div class="col">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Category' %}: </b>{{ service_order_header.customer_asset.asset.category }}
                </p>
            </div>
            <div class="col">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Brand' %}: </b>{{ service_order_header.customer_asset.asset.brand }}
                </p>
            </div>
            <div class="col">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Model Name' %}: </b>{{ service_order_header.customer_asset.asset.model_name }}
                </p>
            </div>
        </div>
        <div class="row text-left">
            <div class="col">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Model Number' %}: </b>{{ service_order_header.customer_asset.asset.model_number }}
                </p>
            </div>
            <div class="col">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Serial Number' %}: </b>{{ service_order_header.customer_asset.serial_number }}
                </p>
            </div>
            <div class="col">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Product Number' %}: </b>{{ service_order_header.customer_asset.product_number }}
                </p>
            </div>
        </div>
        <div class="row text-left">
            <div class="col">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Inventory Number' %}: </b>{{ service_order_header.customer_asset.inventory_number|default_if_none:"" }}
                </p>
            </div>
            <div class="col">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Location' %}: </b>{{ service_order_header.customer_asset.location|default_if_none:"" }}
                </p>
            </div>
            <div class="col">

            </div>
        </div>
        <h4 class='text-center text-secondary mt-1'>{% trans 'Order Information' %}</h4>
        <div class="row text-left">
            <div class="col-sm-12">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Packaging' %}: </b>{{ service_order_header.packaging|default_if_none:"" }}
                </p>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-sm-4">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Place of service' %}: </b>{{ service_order_header.place_of_service|default_if_none:"" }}
                </p>
            </div>
            <div class="col-sm-4">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'SLA' %}: </b>{{ service_order_header.service_level_agreement.name|default_if_none:"" }}
                </p>
            </div>
            <div class="col-sm-4">

            </div>
        </div>
        <div class="row text-left">
            <div class="col-sm-4">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Handed over by' %}: </b>{{ service_order_header.handed_over_by|default_if_none:"" }}
                </p>
            </div>
            <div class="col-sm-4">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Accepted by' %}: </b>{{ service_order_header.accepted_by }}</p>
            </div>
            <div class="col-sm-4">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Accepted on' %}: </b>{{ service_order_header.created_on }}</p>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-sm-4">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Status' %}: </b>{{ service_order_header.status }}</p>
            </div>
            <div class="col-sm-4">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Serviced by' %}: </b>{{ service_order_header.serviced_by|default_if_none:"" }}
                </p>
            </div>
            <div class="col-sm-4">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Serviced on' %}: </b>{{ service_order_header.serviced_on|default_if_none:"" }}
                </p>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-sm-4">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Handed over to' %}: </b>{{ service_order_header.handed_over_to|default_if_none:"" }}
                </p>
            </div>
            <div class="col-sm-4">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Completed by' %}: </b>{{ service_order_header.completed_by|default_if_none:"" }}
                </p>
            </div>
            <div class="col-sm-4">
                <p class="text-primary mb-0"><b
                        class="text-dark">{% trans 'Completed on' %}: </b>{{ service_order_header.completed_on|default_if_none:"" }}
                </p>
            </div>
        </div>
    </div>

    {#    Problem description#}
    <div class="d-block rounded-lg bg-light mb-1" style="padding:0.5%">
        <h4 class='text-center text-secondary mt-1'>{% trans 'Problem Description' %}</h4>
        <div class="text-left"><i>{{ service_order_header.problem_description }}</i></div>
    </div>

    {#    Service order notes actions#}
    {% if not service_order_header.pk|soh_is_completed_without_notes %}
        <div class="d-block mt-2 rounded-lg bg-light mb-2" style="padding:0.5%">
            <div class="row">
                <div class="col-md-12 text-right align-self-center my-1">
                    <div class="text-center">
                        <h4 class='text-secondary d-inline'>{% trans 'Notes' %}</h4>
                        {% if not service_order_header.is_completed %}
                            {% if perms.main.add_serviceordernote %}
                                <a href="{% url 'create_service_order_note' service_order_header.pk %}?next={{ request.path|urlencode }}"
                                   class="btn btn-success float-end">{% trans 'Add Note' %}</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if service_order_header.serviceordernote_set.all %}
                {% include 'service_order_note/service_order_notes.html' %}
            {% else %}
                <div class="text-center">
                    <p><i>{% blocktrans %}Click on the "Add Note" button to create a note.{% endblocktrans %}</i></p>
                </div>
            {% endif %}
        </div>
    {% endif %}

    {#    Action menu bar#}
    <div class="d-block rounded-lg bg-light" style="padding:2%">
        <div class="row">
            {% if not service_order_header.is_serviced %}
                <div class="col-md-12 text-right align-self-center">
                    {% if perms.main.change_serviceorderdetail %}
                        <a class="btn btn-outline-success float-end" href="#" data-bs-toggle="modal"
                           data-bs-target="#complete_order_modal">{% trans 'Complete Service' %}</a>
                    {% endif %}
                </div>
            {% elif not service_order_header.is_completed %}
                {% if perms.main.change_serviceorderheader %}
                    <div class="col-md-12 text-right align-self-center my-3">
                        <a class="btn btn-outline-warning float-end" href="#" data-bs-toggle="modal"
                           data-bs-target="#rollback_modal">{% trans 'Rollback Order' %}</a>
                        <a class="btn btn-outline-success float-end me-2"
                           href="{% url 'handover_service_order' service_order_header.id %}">{% trans 'Finalize Order' %}</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        {% block sod_create %}

        {% endblock %}
        {% include 'service_order_detail/service_order_details.html' %}
    </div>

{% endblock %}