{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    {#    <div class="jumbotron">#}
    {% if not request.user.is_anonymous %}
        <h3 class="text-end">{% trans 'Hello' %}, {{ request.user.profile.full_name }}!</h3>
    {% else %}
        <h3 class="text-end"></h3>
    {% endif %}

    <div class="p-1 mb-4 bg-light rounded-3">
        <div class="container-fluid py-2">
            <h1 class="container-fluid py-5">{% blocktrans %}Welcome to Service Manager!{% endblocktrans %}</h1>
            <p class="col-md-8 fs-4">{% blocktrans %}The main goal of Service Manager web application is to streamline
                the end-to-end
                process of servicing customer assets.{% endblocktrans %}</p>
            {% if not request.user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'track_order_search' %}">{% blocktrans %}Track service order{% endblocktrans %}</a>
            {% else %}
                {% if perms.customers.view_customer %}
                    <a class="btn btn-primary btn-lg" href="{% url 'customers_list' %}">{% blocktrans %}To Customers!{% endblocktrans %}</a>
                {% elif perms.main.view_serviceorderheader %}
                    <a class="btn btn-primary btn-lg" href="{% url 'service_orders_list_pending_service' %}">
                        {% blocktrans %}To Pending service orders!{% endblocktrans %}</a>
                {% elif perms.master_data.view_asset %}
                    <a class="btn btn-primary btn-lg" href="{% url 'assets_list' %}">
                        {% blocktrans %}To Assets!{% endblocktrans %}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}