{% extends 'base.html' %}
{% block content %}
    <div class="row my-md-2">
        {% if perms.master_data.add_assetcategory %}
            <div class="col-md-12 text-right">
                <a href="{% url 'create_asset_category' %}" class="btn btn-success">Create</a>
            </div>
        {% endif %}
    </div>
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% if object_list %}
            {% for asset_category in object_list %}
                <tr>
                    <td>{{ asset_category.id }}</td>
                    <td>{{ asset_category.name }}</td>
                    <td>
                        {% if perms.master_data.change_assetcategory %}
                            <a class="btn btn-outline-primary btn-sm"
                               href="{% url 'edit_asset_category' asset_category.id %}"
                               role="button">Edit</a>
                            <a class="btn btn-outline-danger btn-sm"
                               href="{% url 'delete_asset_category' asset_category.id %}" role="button">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}