{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="d-block mt-5 rounded-lg bg-light mb-3" style="padding:2%">
        <h2 class='text-center text-secondary'>{% trans 'Asset Categories' %}</h2>
        <div class="row my-md-2">
            {% if perms.master_data.add_assetcategory %}
                <div class="col-md-8">
                    <form class="form" method="GET" action="">
                        <div class="input-group my-3">
                            <input type="search" class="form-control rounded mr-3" placeholder="{% trans 'Search' %}"
                                   aria-label="Search"
                                   aria-describedby="search-addon" name="search_value"/>
                            <button type="submit" class="btn btn-outline-primary"
                                    href="{% url 'asset_categories_list' %}"><i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 text-left align-self-center">
                    <a href="{% url 'asset_categories_list' %}"
                       class="btn btn-outline-warning btn-md"><i class="fa-solid fa-ban"></i></a>
                </div>
                <div class="col-md-2 text-right align-self-center">
                    <a href="{% url 'create_asset_category' %}" class="btn btn-success btn-md float-end">{% trans 'Create New' %}</a>
                </div>
            {% endif %}
        </div>
        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th scope="col">{% trans 'ID' %}</th>
                <th scope="col">{% trans 'Name' %}</th>
                <th scope="col">{% trans 'Action' %}</th>
            </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for asset_category in object_list %}
                    <tr>
                        <td>{{ asset_category.id }}</td>
                        <td>{{ asset_category.name }}</td>
                        <td>
                            {% if perms.master_data.change_assetcategory %}
                                <a class="btn btn-outline-primary btn-md"
                                   href="{% url 'edit_asset_category' asset_category.id %}"
                                   role="button"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a class="btn btn-outline-danger btn-md"
                                   href="{% url 'delete_asset_category' asset_category.id %}" role="button"><i class="fa-solid fa-trash"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        {% include 'partials/paginator.html' %}
    </div>
{% endblock %}