{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-md-9 my-3">
            <form class="form" method="GET" action="">
                <div class="input-group my-3">
                    <input type="search" class="form-control rounded  mr-3"
                           placeholder="{% trans 'Search Representatives' %}"
                           aria-label="Search"
                           aria-describedby="search-addon" name="representative"/>
                    <input type="hidden" id="show_reps" name="show_representatives" value="t">
                    <button type="submit" class="btn btn-outline-primary"
                            href="#">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
        {% if perms.customers.add_customerrepresentative %}
            <div class="col-md-3 text-right align-self-center my-3">
                <a href="{% url 'create_customer_representative' object.pk %}"
                   class="btn btn-success float-end">{% trans 'Add Representative' %}</a>
            </div>
        {% endif %}
    </div>
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th scope="col">{% trans 'ID' %}</th>
            <th scope="col">{% trans 'First Name' %}</th>
            <th scope="col">{% trans 'Last Name' %}</th>
            <th scope="col">{% trans 'E-mail Address' %}</th>
            <th scope="col">{% trans 'Phone Number' %}</th>
            <th scope="col">{% trans 'Action' %}</th>
        </tr>
        </thead>
        <tbody>
        {% if customer_representatives %}
            {% for rep in customer_representatives %}
                <tr>
                    <td>{{ rep.id }}</td>
                    <td>{{ rep.first_name }}</td>
                    <td>{{ rep.last_name }}</td>
                    <td>{{ rep.email_address }}</td>
                    <td>{{ rep.phone_number }}</td>
                    <td>
                        {% if perms.customers.change_customerrepresentative %}
                            <a class="btn btn-outline-primary btn-md"
                               href="{% url 'edit_customer_representative' rep.customer.id rep.id %}"
                               role="button"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a class="btn btn-outline-danger btn-md"
                               href="{% url 'delete_customer_representative' rep.customer.id rep.id %}"
                               role="button"><i class="fa-solid fa-trash"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="100%">
                    <p>
                        {% trans 'No records matching your search' %}
                    </p>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}