{% extends 'base.html' %}
{% block content %}
    <div class="d-block mt-5 rounded-lg bg-light my-3" style="padding:2%">
        <h2 class='text-center text-secondary mb-3'>Completed Service Orders</h2>
        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Brand</th>
                <th scope="col">Model Name</th>
                <th scope="col">Model Number</th>
                <th scope="col">Serial Number</th>
                <th scope="col">Product Number</th>
                <th scope="col">Accepted On</th>
                <th scope="col">Serviced On</th>
                <th scope="col">Action</th>

            </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for service_order in object_list %}
                    <tr>
                        <td>{{ service_order.id }}</td>
                        <td>{{ service_order.customer.name }}</td>
                        <td>{{ service_order.customer_asset.asset.category.name }}</td>
                        <td>{{ service_order.customer_asset.asset.brand.name }}</td>
                        <td>{{ service_order.customer_asset.asset.model_name }}</td>
                        <td>{{ service_order.customer_asset.asset.model_number }}</td>
                        <td>{{ service_order.customer_asset.serial_number }}</td>
                        <td>{{ service_order.customer_asset.product_number }}</td>
                        <td>{{ service_order.created_on }}</td>
                        <td>{{ service_order.serviced_on }}</td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm"
                               href="{% url 'detail_service_order' service_order.id %}"
                               role="button">Detail</a>
                            {#                    todo: allow only certain roles to delete#}

                            <a class="btn btn-outline-danger btn-sm"
                               href="{% url 'delete_service_order' service_order.id %}"
                               role="button">Delete</a>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}