{% extends 'base.html' %}
{% block content %}
    <h2 class='text-center'>Customer Information</h2>
    {#    Edit Customer form#}
    <form method="post" action="{% url "edit_customer" object.pk %}">
        {% csrf_token %}
        {{ form }}
        <div class="my-3">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>

    {#    Table with Assets assigned to the customer#}
    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Category</th>
            <th scope="col">Brand</th>
            <th scope="col">Model Name</th>
            <th scope="col">Model Number</th>
            <th scope="col">Serial Number</th>
            <th scope="col">Product Number</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <h2 class='text-center'>Customer Assets</h2>
        <div class="row">
            <div class="col-md-9 my-3">
                <form class="form" method="GET" action="">
                    <div class="input-group my-3">
                        <input type="search" class="form-control rounded" placeholder="Search Assets"
                               aria-label="Search"
                               aria-describedby="search-addon" name="search_value"/>
                        <button type="submit" class="btn btn-outline-primary"
                                href="#">
                            search
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-3 text-right align-self-center my-3">
                <a href="{% url 'create_customer_asset' %}?customer_id={{ object.pk }}" class="btn btn-success">Add
                    Asset</a>
            </div>
        </div>
        {% if customer_assets %}
            {% for asset in customer_assets %}
                <tr>
                    <td>{{ asset.id }}</td>
                    <td>{{ asset.asset.category }}</td>
                    <td>{{ asset.asset.brand.name }}</td>
                    <td>{{ asset.asset.model_name }}</td>
                    <td>{{ asset.asset.model_number }}</td>
                    <td>{{ asset.serial_number }}</td>
                    <td>{{ asset.product_number }}</td>
                    <td>
                        <a class="btn btn-outline-success btn-sm"
                           href="{% url 'create_service_order' %}?customer_id={{ object.pk }}&customer_asset_id={{ asset.id }}"
                           role="button">Create Order</a>
                        <a class="btn btn-outline-primary btn-sm" href="{% url 'edit_customer_asset' asset.id %}"
                           role="button">Edit</a>
                        <a class="btn btn-outline-danger btn-sm" href="{% url 'delete_customer_asset' asset.id %}"
                           role="button">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="100%">
                    <p>
                        No records matching your search
                    </p>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    {#    Table with Customer Representatives#}
    <h2 class='text-center'>Customer Representatives</h2>
    {% include 'customer_representatives/customer_representatives.html' %}

    {#    Table with Customer Departments#}
    <h2 class='text-center'>Customer Departments</h2>
    {% include 'customer_departments.html' %}

{% endblock %}