{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1 class="text-center">{% trans 'Edit customer asset' %}</h1>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form method="post" action="{% url "edit_customer_asset" object.customer.id object.pk %}">
                {% csrf_token %}
                {{ form }}
                <div>
                    <a class="btn btn-secondary mt-1 float-start" href="javascript:history.back()">{% trans 'Back' %}</a>
                    <button type="submit" class="btn btn-primary mt-1 float-end">{% trans 'Save' %}</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}