{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="d-block mt-5 rounded-lg bg-light mb-3" style="padding:2%">
        <h2 class='text-center text-secondary'>{% trans 'Brands' %}</h2>
        <div class="row my-md-2">
            <div class="col-md-8">
                <form class="form" method="GET" action="">
                    <div class="input-group my-3">
                        <input type="search" class="form-control rounded mr-3" placeholder="Search" aria-label="Search"
                               aria-describedby="search-addon" name="search_value"/>
                        <button type="submit" class="btn btn-outline-primary"
                                href="{% url 'brands_list' %}">{% trans 'search' %}
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-2 text-left align-self-center">
                <a href="{% url 'brands_list' %}" class="btn btn-outline-warning btn-md">{% trans 'clear' %}</a>
            </div>
            {% if perms.master_data.add_brand %}
                <div class="col-md-2 text-right align-self-center">
                    <a href="{% url 'create_brand' %}" class="btn btn-success btn-md float-end">Create</a>
                </div>
            {% endif %}
        </div>
        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% if object_list %}
                {% for brand in object_list %}
                    <tr>
                        <td>{{ brand.id }}</td>
                        <td>{{ brand.name }}</td>
                        <td>
                            {% if perms.master_data.change_brand %}
                                <a class="btn btn-outline-primary btn-sm" href="{% url 'edit_brand' brand.id %}"
                                   role="button">Edit</a>
                                <a class="btn btn-outline-danger btn-sm" href="{% url 'delete_brand' brand.id %}"
                                   role="button">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        {% include 'partials/paginator.html' %}
    </div>
{% endblock %}