{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1 class="text-center">{% trans 'Edit profile' %}</h1>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form method="post" action="{% url 'edit_profile' request.user.profile.pk %}">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary mt-1 float-end">{% trans 'Save' %}</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
{% endblock %}