.roundedContainerPrimary {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: var(--primary-color);
    margin-bottom: 8px;
    color: white;
    padding: 4px;
    border: 1px solid white;
}

.roundedContainerSecondary {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: var(--secondary-color);
    padding: 4px 12px;
    margin-bottom: 8px;
    border: 1px solid white;
}

.roundedContainerSecondary:hover {
    transform: scale(1.1);
}

.horizontalFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}