.roundedContainerPrimary {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: var(--primary-color);
    margin-bottom: 8px;
    color: white;
    padding: 4px;
    border: 1px solid white;
}

.roundedContainerSecondary {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: var(--secondary-color);
    padding: 4px 12px;
    margin-bottom: 8px;
    border: 1px solid white;
}

.horizontalFlex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexJustifyCenter {
    justify-content: center;
}
.flexJustifyStretch {
    justify-content: stretch;
}

.marginBottomSmall {
    margin-bottom: 4px;
}

.marginBottomMid {
    margin-bottom: 8px;
}